/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/
.site {
	height: 100%;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
	grid-template-areas: 
	"m m h h h h h h h h h h" 
	"m m h h h h h h h h h h" 
	"m m c c c c c c c c c c";
}
/*--------------------------------------------------------------
13.1 Header
--------------------------------------------------------------*/
header {
	grid-area: h;
}

/*--------------------------------------------------------------
13.3 Regular Content
--------------------------------------------------------------*/
.site-content-contain {
	background-color: #fff;
	grid-area: c;
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

.navigation-top {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    border-bottom: 0;
    border-top: 0;
    border-right: 1px solid #eee;
    padding-top: 75px;
    display: none;
    z-index: 3;
}

li.menu-item-has-children {
}

li.menu-item-has-children::before {
    border-style: unset !important;
}

li.menu-item-has-children::after {
    border-style: unset !important;
}

.main-navigation ul ul {
    position: static;
    border: none;
    margin-left: 20px;
    background: transparent;
}

.main-navigation li li:hover,
.main-navigation li li.focus {
    background: transparent;
}

.main-navigation li li.current-menu-item a:hover,
.main-navigation li li.current_page_item a:focus,
.main-navigation li li.current-menu-item a:focus {
    color: #767676;
}

.main-navigation li li.focus > a,
.main-navigation li li:focus > a,
.main-navigation li li:hover > a,
.main-navigation li li a:hover,
.main-navigation li li a:focus,
.main-navigation li li.current_page_item a:hover,
.main-navigation li li.current-menu-item a:hover,
.main-navigation li li.current_page_item a:focus,
.main-navigation li li.current-menu-item a:focus {
    color: #767676;
}

#top-menu {
    display: block;
}

#top-menu > li {
    display: block;
}

.sub-menu {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.25s ease-in-out;
}

#top-menu > li:hover > .sub-menu {
    visibility: visible;
    height: auto;
    max-height: 500px;
    opacity: 1;
    transition: max-height 1s, opacity 1s;
    transition-timing-function: ease-in-out;
}

.menu-menu-principal-container {
    width: 100%;
}

.menu-toggle {
    position: fixed;
    opacity: 1;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #bbb;
    border-left: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.menu-toggle .icon {
    margin-right: 0.15em;
}

.menu-close {
    padding: 0.25em 0.5em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.main-searchbox {
    width: 70%;
}

/*--------------------------------------------------------------
15.0 Widgets
--------------------------------------------------------------*/

.main-searchbox {
	width: 50vmax;
	margin: 1em auto;
	flex:1;
}
.main-searchbox .search-form {
	display: flex;
}
.main-searchbox .search-submit {
	position: initial;
}

/*--------------------------------------------------------------
19.0 Media Queries
--------------------------------------------------------------*/
@media (max-width: 576px) {
    .navigation-top {
        width: 100%
    }

    .main-searchbox {
        margin: 0 auto;
        display: block;
    }

    .search-field {
        min-width: 60%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .main-searchbox {
        margin: 0 auto;
    }
    .main-searchbox .search-submit {
        position: absolute;
        margin-bottom: 1em;
    }
}
@media screen and (min-width: 20em) {
	.main-navigation {
		display: flex;
	}
	.searchbox-menu {
		width: max-content;
		margin: 0;
	}
	.searchbox-standalone { 
		/* display: none; */
	}
}
@media screen and (max-width: 48em) {
    
    .menu-toggle {
        position: inherit;
        border: 1px solid #bbb;
        border-radius: 4px;
    }
}
@media screen and ( min-width: 75em ) {
	.site {
	    display: grid;
	}
	/* Main Navigation */

	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}

}

@media (min-width: 1200px) {
    .navigation-top {
        display: block;
    }

    .menu-toggle {
        display: none !important;
    }

    .menu-close {
        display: none;
    }
}
