/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/
.site-header,
.navigation-top,
.main-navigation ul,
.site-content-contain,
.panel-content,
.site-footer {
    background-color: #FFFF9F;
}

.main-navigation a {
    padding: 0.5em;
}

.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a {
    color: #fff;
    background-color: #171700;
}
/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/
.site {
	height: 100%;
    grid-template-columns: repeat(12, 1fr);
	grid-template-areas: 
	"m m h h h h h h h h h h" 
	"m m c c c c c c c c c c";
}
/*--------------------------------------------------------------
13.1 Header
--------------------------------------------------------------*/
header {
	grid-area: h;
}

.site-header {
    border-bottom: 4px solid #FFFF00;
    position: fixed;
    width: 100%;
    z-index: 50;
}

/*--------------------------------------------------------------
13.3 Regular Content
--------------------------------------------------------------*/
.site-content-contain {
	grid-area: c;
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

.navigation-top {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 0;
    border-top: 0;
    border-right: 4px solid #FFFF00;
    display: none;
    z-index: 3;
}

li.menu-item-has-children {
}

li.menu-item-has-children::before {
    border-style: unset !important;
}

li.menu-item-has-children::after {
    border-style: unset !important;
}

.main-navigation ul ul {
    position: static;
    border: none;
    margin-left: 20px;
    background: transparent;
}

.main-navigation li li:hover,
.main-navigation li li.focus {
    background: transparent;
}

.main-navigation li li.focus > a,
.main-navigation li li:focus > a,
.main-navigation li li:hover > a,
.main-navigation li li a:hover,
.main-navigation li li a:focus,
.main-navigation li li.current_page_item a:hover,
.main-navigation li li.current-menu-item a:hover,
.main-navigation li li.current_page_item a:focus,
.main-navigation li li.current-menu-item a:focus {
    color: #767676;
}

#top-menu {
    display: block;
}

#top-menu > li {
    display: block;
}

.sub-menu {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.25s ease-in-out;
}

#top-menu > li:hover > .sub-menu {
    visibility: visible;
    height: auto;
    max-height: 500px;
    opacity: 1;
    transition: max-height 1s, opacity 1s;
    transition-timing-function: ease-in-out;
}

.menu-menu-principal-container {
    width: 100%;
}

.menu-toggle {
    position: fixed;
    opacity: 1;
    background-color: #171700;
    color: #fff;
    z-index: 99;
    border: 1px solid #FFFF00;
    border-left: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.menu-toggle .icon {
    margin-right: 0.15em;
}

.menu-close {
    padding: 1em;
    margin: 1em;
    position: relative;
    float: right;
    border-radius: 2em;
    line-height: initial;
}

.main-searchbox {
    width: 70%;
}

/*--------------------------------------------------------------
15.0 Widgets
--------------------------------------------------------------*/

.main-searchbox {
	width: 50vmax;
	margin: 1em auto;
	flex:1;
}
.main-searchbox .search-form {
	display: flex;
}
.main-searchbox .search-submit {
	position: initial;
}

/*--------------------------------------------------------------
19.0 Media Queries
--------------------------------------------------------------*/
@media (max-width: 20em) {

    .main-searchbox {
        margin: 0 auto;
        display: block;
    }

    .search-field {
        min-width: 60%;
    }
}

@media screen and (min-width: 20em) {

    .site-header + .site-content-contain {
        padding-top: 12em;
    }

	.main-navigation {
		display: flex;
	}
	.searchbox-menu {
		width: max-content;
		margin: 0;
	}
}
@media screen and (min-width: 30em) {
    .site-header + .site-content-contain {
        padding-top: 10em;
    }
    .site-branding {
        padding: 2em 0;
    }

    .panel-content .wrap {
        padding-bottom: 2em;
        padding-top: 1em;
    }
}

@media screen and (max-width: 48em) {
    body:not(.title-tagline-hidden) .site-branding-text {
        display: block;
        text-align: center;
    }
    .site-description {
        display: none;
    }

    .navigation-top {
        width: 100%
    }

    .menu-toggle {
        position: inherit;
        border: 1px solid #FFFF00;
        border-radius: 4px;
    }

}

@media screen and ( min-width: 48em ) {
    .site-header {
        position: initial;
        width: initial;
    }
    .main-navigation ul ul a {
        padding: 0.75em 1.25em;
        width: initial;
    }
    .site-header + .site-content-contain {
        padding-top: 0em;
    }

}

@media screen and ( min-width: 75em ) {
	.site {
	    display: grid;
	}
	/* Main Navigation */
    .navigation-top {
        display: block;
        width: 20%;
        width: 20vw;
    }

    .menu-close,
	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}

}
