.navigation-top {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 225px;
    border-bottom: 0;
    border-top: 0;
    border-right: 1px solid #eee;
    padding-top: 75px;
}

li.menu-item-has-children {
}

li.menu-item-has-children::before {
    border-style: unset !important;
}

li.menu-item-has-children::after {
    border-style: unset !important;
}

.main-navigation ul ul {
    position: static;
    border: none;
    margin-left: 20px;
    background: transparent;
}

.main-navigation li li:hover,
.main-navigation li li.focus {
    background: transparent;
}

.main-navigation li li.current-menu-item a:hover,
.main-navigation li li.current_page_item a:focus,
.main-navigation li li.current-menu-item a:focus {
    color: #767676;
}

.main-navigation li li.focus > a,
.main-navigation li li:focus > a,
.main-navigation li li:hover > a,
.main-navigation li li a:hover,
.main-navigation li li a:focus,
.main-navigation li li.current_page_item a:hover,
.main-navigation li li.current-menu-item a:hover,
.main-navigation li li.current_page_item a:focus,
.main-navigation li li.current-menu-item a:focus {
    color: #767676;
}

#top-menu > li {
    display: block;
}

.sub-menu {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.25s ease-in-out;
}

#top-menu > li:hover > .sub-menu {
    visibility: visible;
    height: auto;
    max-height: 500px;
    opacity: 1;
    transition: max-height 1s, opacity 1s;
    transition-timing-function: ease-in-out;
}