.navigation-top {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    border-bottom: 0;
    border-top: 0;
    border-right: 1px solid #eee;
    padding-top: 75px;
    display: none;
    z-index: 3;
}

li.menu-item-has-children {
}

li.menu-item-has-children::before {
    border-style: unset !important;
}

li.menu-item-has-children::after {
    border-style: unset !important;
}

.main-navigation ul ul {
    position: static;
    border: none;
    margin-left: 20px;
    background: transparent;
}

.main-navigation li li:hover,
.main-navigation li li.focus {
    background: transparent;
}

.main-navigation li li.current-menu-item a:hover,
.main-navigation li li.current_page_item a:focus,
.main-navigation li li.current-menu-item a:focus {
    color: #767676;
}

.main-navigation li li.focus > a,
.main-navigation li li:focus > a,
.main-navigation li li:hover > a,
.main-navigation li li a:hover,
.main-navigation li li a:focus,
.main-navigation li li.current_page_item a:hover,
.main-navigation li li.current-menu-item a:hover,
.main-navigation li li.current_page_item a:focus,
.main-navigation li li.current-menu-item a:focus {
    color: #767676;
}

#top-menu {
    display: block;
}

#top-menu > li {
    display: block;
}

.sub-menu {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.25s ease-in-out;
}

#top-menu > li:hover > .sub-menu {
    visibility: visible;
    height: auto;
    max-height: 500px;
    opacity: 1;
    transition: max-height 1s, opacity 1s;
    transition-timing-function: ease-in-out;
}

.menu-menu-principal-container {
    width: 100%;
}

.menu-toggle {
    position: absolute;
    opacity: 1;
    display: block !important;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #666;
    left: 0;
    border-left: none;
    padding: 0.7em 0.9em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.menu-toggle .icon {
    margin-right: 0.15em;
}

.menu-close {
    padding: 0.25em 0.5em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.main-searchbox {
    width: 70%;
}

@media (max-width: 576px) {
    .navigation-top {
        width: 100%
    }

    .main-searchbox {
        margin: 0 auto;
        display: block;
    }

    .search-field {
        min-width: 60%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .main-searchbox {
        margin: 0 auto;
    }
    .main-searchbox .search-submit {
        position: absolute;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 993px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
    .navigation-top {
        display: block;
    }

    .menu-toggle {
        display: none !important;
    }

    .menu-close {
        display: none;
    }
}
